header{
    background-color: #a23645;
    color: white;
    padding-left: 130px;
}
header div{
    display: inline-block;
    font-size: 20px;
    font-weight: 100;
    height: 25px;
    vertical-align: middle;
    padding: 10px;
}
header div:nth-child(1){
    text-align: start;
}
header div:hover:nth-child(n+2){
    background-color: #912f3c;
}
.main{
    padding: 10px 0px 20px 140px;
    background-color: #f5f5f5;
    text-align: left;
    padding-bottom: 40px;
}
.section-1{
    width: 65%;
    display: inline-block;
    vertical-align: top;
}
body{
    padding-left: 100px;
    padding-right: 100px;
    height: 100%;
}
.text-right{
    text-align: right;
}
.section-2{
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
    background-color: #e7e7e7;
    padding: 20px 10px 20px 30px;
    font-size: small;
}
.author img{
    height: 150px;
    width: 110px;
    position: relative;
}
.author{
    display: inline-block;
    margin-right: 18px;
    text-align: center;
}
.container{
    border: 2px solid gray;
    padding: 20px 20px;
    width: 900px;
}
.text-padding{
    margin-left: 70px;
    text-align: end;
}
.pad{
    margin-right: 10px;
    text-align: start;
}